<div class="aboutus">
	<h1>Chúng tôi nói về chúng ta.</h1>
	<p>SportHub được chúng tôi ấp ủ và xây dựng để mang đến cho người yêu thể thao Việt Nam nói chung một sân chơi nơi mọi người có cùng niềm đam mê kết nối với nhau. Xuất phát từ nhu cầu tìm kiếm những ngừoi bạn đồng hành ở những trận đấu ở sân cỏ nhân tạo, tìm kiếm những đối thủ mới, gặp gỡ bạn bè mới, SportHub.vn ra đời với mục tiêu: Xây dựng một cộng đồng thể thao vững mạnh ở Việt Nam.</p>
	<h2>SportHub mang đến cho bạn điều gì?</h2>
	<p>Chỉ vài thao tác đơn giản, bạn đã có thể tổ chức một trận đấu cho mình, với thời gian và tiêu chí phù hợp nhất với bạn. Với SportHub cơ hội bạn gặp gỡ những người bạn mới, những đối thủ mới cũng là dịp để chia sẻ niềm đam mê.</p>
	<p>Ở sân chơi thể thao Việt Nam, những trận đấu 5vs5, 7vs7 hay 11vs11 xuất hiện rất phổ biến với sự phát triển không ngừng của số lượng và chất lượng các sân cỏ nhân tạo. Nhưng để tìm được những đối thủ hay đồng đội xứng tầm, chúng tôi tin là SportHub sẽ mang đến cho bạn những cơ hội đáng kể.</p>
	<p>SportHub luôn trân trọng những đánh giá và nhận xét từ những ngừoi bạn để xây dựng một cộng đồng vững mạnh hơn.</p>
	<h2>Hướng dẫn sử dụng</h2>
	<ul>
		<li>
			<h3 class="aboutus-title">1. Tham gia trận đấu</h3>
			<p>Chọn trận đấu phù hợp với bạn, bạn có thể sử dụng công cụ lọc được cung cấp để chọn trận đấu phù hợp về mặt thời gian, địa điểm, trình độ</p>
			<p>Quyết định tham gia: Chọn số người sẽ tham gia cùng với bạn trong trận đấu này.</p>
			<p>Hãy đến sân đúng giờ và chơi thứ bóng đá fairplay nhất. Và cho chúng tôi biết cảm nhận của bạn về trận đấu cũng như những cầu thủ bạn đã chơi cùng.</p>
		</li>
		<li>
			<h3 class="aboutus-title">2. Thủ tục huỷ trận đấu:</h3>
			<p>Trận đấu có thể bị huỷ nếu số lượng người chơi ở thời điểm chốt sổ không đủ số lượng tối thiểu. Bạn sẽ được thông báo ít nhất trước 1 giờ bằng Sms, email và notifications</p>
			<p>Nếu thời tiết không cho phép, trận đấu sẽ được huỷ.</p>
		</li>
		<li>
			<h3 class="aboutus-title">3. Rút lui khỏi trận đấu:</h3>
			<p>Bất cứ thời điểm nào trước thời gian chốt sổ, người tham gia có quyền cập nhật số lượng người đi cùng hoặc rút khỏi trận đấu. </p>
		</li>
	</ul>
</div>
