<div class="news">
	<div class="news-container" *ngIf="url==='/news'">
		<div class="news-content">
			<div class="news-list">
				<div class="no-data" *ngIf="!pages.length && loaded">Chưa có bài viết.</div>
				<div class="page-item" *ngFor="let p of pages" (click)="gotoPage(p)">
					<img *ngIf="!p.featured" src="./src/app/assets/images/logo-2.png">
					<img *ngIf="p.featured" src="{{imgURI + p.featured}}">
					<div class="page-info">
						<h2>Chủ đề: {{p.title}}</h2>
						<label>
							<i class="fa fa-calendar"></i>
							<span>{{p.datetime | myFromNow}}</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<router-outlet *ngIf="url!=='/news'"></router-outlet>
</div>
