@import '../../assets/scss/base/variables.scss';
.tip {
	position: relative;
    top: 0;
    left: 5px;
    cursor: pointer;
    color: #555;
    i:hover {
    	transition: 0.3s;
    	color: $color-base-green;
    }
}

.tip-content {
	position: absolute;
    left: 20px;
    min-width: 270px;
    background-color: white;
    padding: 5px;
    font-size: 13px;
    max-width: 300px;
    border: 1px solid #2dad66;
    border-radius: 3px;
    z-index: 100;
}

@media screen and (max-width: 972px) {
	.tip {
		display: none;
	}
}