<div class="intro">
	<div class="intro-mask"></div>
	<div class="intro-content">
		<img style="width: 200px; margin: 20px 0" src="./src/app/assets/images/sporthub-1.png">
		<div class="intro-item">
			<i class="fa fa-check"></i>
			<h1>Bạn là người yêu thích đá bóng mini ?</h1>
		</div>
		<div class="intro-item">
			<i class="fa fa-check"></i>
			<h1>Bạn không có nhiều bạn bè để tạo đội bóng ?</h1>
		</div>
		<div class="intro-item">
			<i class="fa fa-check"></i>
			<h1>Đội của bạn không có đối tác để đá thường xuyên ?</h1>
		</div>
		<div class="intro-item">
			<i class="fa fa-check"></i>
			<h1>Bạn muốn giao lưu đá bóng với người lạ để nâng cao kỹ năng ?</h1>
		</div>
		<div class="btn-container">
			<button md-raised-button class="btn-green" (click)="finishIntro()">Click vào đây để bắt đầu!</button>
		</div>
	</div>
</div>