<div class="user">
	<div class="user-panel bg-image" style="background-image: url('app/assets/images/panel/panel-5.jpg');">
		<div class="user-mask"></div>
		<div class="user-panel-content">
			<div class="user-avatar bg-image" style="background-image: url('app/assets/images/avatar/avatar2.jpg');"></div>
			<div class="user-name">Trần Duy Việt</div>
			<!-- <div class="user-tabs">
				<div class="user-tab">Thông Tin Cá Nhân</div>
				<div class="user-tab">Reviews</div>
			</div> -->
		</div>
	</div>
	<div class="user-info">
		<div class="user-info-item">
			<div class="user-info-item-key">Tổ Chức</div>
			<div class="user-info-item-value">0</div>
		</div>
		<div class="user-info-item">
			<div class="user-info-item-key">Tham Gia</div>
			<div class="user-info-item-value">10</div>
		</div>
		<div class="user-info-item">
			<div class="user-info-item-key">Rating</div>
			<div class="user-info-item-value">0</div>
		</div>
		<div class="user-info-item">
			<div class="user-info-item-key">Kỹ Năng</div>
			<div class="user-info-item-value">0</div>
		</div>

	</div>
</div>