<div class="profile">
	<div class="profile-left">
		<div routerLinkActive="active" class="profile-left-item" routerLink="./general">Thông tin chung</div>
		<div routerLinkActive="active" class="profile-left-item" routerLink="./account">Thông tin cá nhân</div>
<!-- 		<div routerLinkActive="active" class="profile-left-item" routerLink="./bank">Tài khoản ngân hàng</div> -->
		<!-- <div class="profile-left-item">Yêu cầu chuyển khoản</div> -->
	</div>
	<div class="profile-right">
		<router-outlet></router-outlet>
	</div>
</div>