<div class="footer">
	<div class="footer-info">
		<ul>
            <li class="footer-info-title">
                <a class="footer-menu" routerLink="/aboutus">{{LANG.ABOUT_US}}</a>
            </li>
			<!-- <li>Làm thế nào để tham gia một game ?</li> -->
			<!-- <li>Làm thế nào để tổ chức một game ?</li> -->
		</ul>
		<div class="footer-copyright">
			Copyright © 2017 SPORTHUBVN. All rights reserved.
		</div>
		<ul class="footer-social">
			<!-- <li class="language" (click)="setLanguage('eng')" [ngClass]="{'disabled': LANG.langMode!=='eng'}">
				<img src="./src/app/assets/images/eng-2.png">
			</li>
			<li class="language" [ngClass]="{'disabled': LANG.langMode!=='vn'}" (click)="setLanguage('vn')">
				<img src="./src/app/assets/images/vietnam.png">
			</li> -->
			<li class="language">
				<a target="_blank" href="https://www.facebook.com/sporthubvn/">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
